.Profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}
.leftprofile{
    display:flex;
    flex-grow: 3;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #354c7c;
    height:100vh;
    width: 8vh;
}
.profileimg{
    border-radius: 50vh;
    height: 40vh;
    width: 40vh;
    border:1vh solid white
}
.profilefullName{
    
}
.rightprofile{
    display:flex;
    flex-grow: 9;
}
.Inputinfo{
    display:flex;
    align-items:left;
    flex-direction:column;
}
.inputinfo{
    width:50vh;
    height:05vh;
    margin-left:20vh;
    border-radius:2vh;
}
.labelinputinfo{
    margin-left:20vh;
}
.btnUpdateInfo{
    width:30vh;
    height:5vh;
    margin-left:30vh;   
}