.login{
    height: 110vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column; 
}
.bglogin{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.formloginhandle{
    margin-bottom: 500px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column; 
}
.loginlabel{
    color:white;
    letter-spacing:2vh;
    font-weight:400;
    margin-top: 50vh;
    font-size:10vh;
}
.inputlabel{
    color:white;
    font-weight:-100;
    font-size:18px;
    margin-right:220px;
}
.inputform{
    background-color: none;
    height:30px;
    width: 300px;
    border-radius: 3px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.btnnlogininlogin{
    cursor: pointer;
    height:7vh;
    width: 40vh;
    border-radius:2vh;
    margin:5vh 20vh 5vh 20vh;
    background-color:#354c7c;
    color:white;
    font-size:20px;
    border:none
}
.btnforgotpassword{
    cursor: pointer;
    height:7vh;
    border-radius:2vh;
    width: 40vh;
    margin:10x 20px 0px 20px;
    background-color:#354c7c;
    color:white;
    font-size:22px;
    border:none
}
.close{
    cursor: pointer;
    color:black;
    font-size:5vh;

  
}