.Home{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height:100vh;
    object-fit: cover;

}
 .slogan{
    color:rgb(212, 212, 212);
    font-size: 10vh;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align: justify;
    font-weight: 800;
    letter-spacing:10px
}
.HomeBG{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.btnLogin{
    color:#b0b8ce;
    font-size: 3vh;
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align: justify;
    font-weight: 800;
    background-color: #354c7c;
    border: none;
    border-radius:1vh;
    width:22vh;
    height:9vh;
    margin-right:40vh;
    margin-top:40vh;
    text-decoration: none;
}
.btnRegister{
    text-decoration: none;
    color:#b0b8ce;
    font-size: 3vh;
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align: justify;
    font-weight: 800;
    background-color: #354c7c;
    border: none;
    border-radius:1vh;
    width:22vh;
    height:9vh;
    margin-right:-30vh;
    margin-top:40vh;
}
.btnLogout{
    text-decoration: none;
    color:#b0b8ce;
    font-size: 3vh;
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align: justify;
    font-weight: 800;
    background-color: #354c7c;
    border: none;
    border-radius:1vh;
    width:22vh;
    height:9vh;
    margin-right:8vh;
    margin-top:60vh;
}
.goprofilebtn{
    position:absolute;
    text-decoration: none;
    color: white;
    margin-top:40vh;
    margin-right:8vh;
}